@model Agencia.Models.Compra

@{
    ViewData["Title"] = "Edit Compra";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Compra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCompra" />
            <div class="form-group">
                <label asp-for="DataIda" class="control-label"></label>
                <input asp-for="DataIda" class="form-control" />
                <span asp-validation-for="DataIda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataVolta" class="control-label"></label>
                <input asp-for="DataVolta" class="form-control" />
                <span asp-validation-for="DataVolta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valor" class="control-label"></label>
                <input asp-for="valor" class="form-control" />
                <span asp-validation-for="valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FK_IdCliente" class="control-label"></label>
                <input asp-for="FK_IdCliente" class="form-control" />
                <span asp-validation-for="FK_IdCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FK_IdDestino" class="control-label"></label>
                <input asp-for="FK_IdDestino" class="form-control" />
                <span asp-validation-for="FK_IdDestino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
